html {
    font-size: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #fafcfe;
}

header {
    display:none !important;
}

footer {
    display:none !important;
}

.lien {
    font-size:14px; 
}

.gitlab {
    color:#e74c3c;
    font-size:15px;
}

.github {
    color:#212529;
    font-size:16px;
}

.mastodon {
    color:#5d51e8;
    font-size:16px;
}

.twitter {
    color:#1d9bf0;
    font-size:16px;
}

.md-typeset .grid.cards>ol>li, .md-typeset .grid.cards>ul>li, .md-typeset .grid>.card {
    border: 0.05rem solid var(--md-default-fg-color--lightest);
    border-radius: 5px;
    background-color:white;
    display: block;
    margin: 6px;
    padding: 20px;
    transition: border .25s,box-shadow .25s;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.8rem;
    font-weight: 300;
    line-height: 1.2;
}

.md-typeset h1 {
    color: #212529;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 800;  
    margin-bottom: 0rem;
}

.md-typeset {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    font-size: .8rem;
    line-height: 1.5;
}

.md-typeset a {
    color:#3498db;
    word-break: break-word;
}
